body {
    text-align: left;
    background-color: black;
}

h1 {
  color: black;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color: black;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  text-align: left;
  color: black;
}

.module {
    cursor: url("cursor.jpg"), auto;
}