body {
    background-color: burlywood;
    text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: center;
}

nav {
    text-align: center;
}

ul {
    text-align: center;
}

.rightHand{
    height = 200px;
    width = 300px;
    align = "right";
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}