body {
    text-align: center;
    background-color: black;
}

h1 {
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-family: sans-serif, Arial;
}

h3 {
  color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
  font-family: sans-serif, Arial;
}

h2 {
  color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
  font-family: sans-serif, Arial;
}
figcaption {
  color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
  font-family: sans-serif, Arial;
}

p {
  font-family: sans-serif, Arial;
  font-size: 20px;
  text-align: center;
  text-color: white; /*sandyBrown, sienna,  */
    -webkit-text-stroke: 1px black;}

p1{
    display: inline-block;
    font-family: sans-serif, Arial;
    font-size: 20px;
    text-align: center;
    text-color: white; /*sandyBrown, sienna,  */
    -webkit-text-stroke: 1px black;}


.cursorM {
    /* cursor: url("cursor.jpg"), auto; */
    cursor: crosshair;
    /*cursor: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngguru.com%2Ffree-transparent-background-png-clipart-vyvxv&psig=AOvVaw3Dsfmu6D5CVpOxQ-X7OLTj&ust=1587928724370000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjbydGlhOkCFQAAAAAdAAAAABAD"), auto;*/
}

.rightside{
    float: center;
    vertical-align: center;
}
.plot{
    vertical-align: middle;
}